
<p>loginauth works!</p>

<!-- Button trigger modal -->
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Demo Modal
</button>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role='dialog'>
  <div class="modal-dialog" role="document" (click)="$event.stopPropagation()">
    <!-- modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        test information
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<section *ngFor="let user of users; let even = even; let odd = odd;"
         (click)="selectUser(user)"
         [ngClass]="{ 'active' : selectedUser.id === 3 }">
  <p>{{user.name}}</p>
  <p>{{user.premium ? 'Premium' : 'Standard' }} account</p>
</section>